img {
    vertical-align: middle;
    height: 100%;
}

div#header
{
	height: 55px;
	font-size: 45px;
	font-weight: bold;
}

img#header
{
	vertical-align:text-top;
}

div#title
{
	font-weight: bold;
	margin-bottom: 0.5em;
	font-size: 35px;
}

.redteam
{
	background-color: #8B0000;
	color:white;
	font-weight:bold;
}

.blueteam
{
	background-color: #000080;
	color:white;
	font-weight:bold;
}

.deletelink
{
	color:red;
	text-decoration: none;
	font-weight:bold;
}

body
{
	background:url('img/bg.png') no-repeat center center fixed;
	background-size:cover;
}